{%extends 'orfik/home.html'%}
{%block body%}
    <div class='container lead'>
        <dl class='dl-horizontal'>
            <dt>Sign Up</dt>
            <dd>Signup using Facebook or supplying information</dd>
            <dt>Login</dt>
            <dd>Login via Facebook or the ID/Password you supplied</dd>
            <dt>Play Orfik 15</dt>
            <dd><ul>
                <li>Every question has to be answered before you can go to the next one.</li>
                <li>All answers are in lowercase and without spaces</li>
                <li>Time is the tie breaker(server time which is displayed on the leaderboard)</li>
            </ul></dd>
        </dl>
    </div>


<ol style="font-size: 1.3em;">
	<li>Solve :-)</li>
</ol>
{%endblock%}
