form {
  fieldset {
    border: none;
  }

  label {
    color: rgba(153, 153, 153, 1);
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border: 3px solid $primary-color;
    padding: 3px 8px;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    margin-top: 5px;

    &:focus {
      outline: 0;
      border-color: lighten($primary-color, 10%);
    }
  }

  textarea {
    height: 10em;
    resize: none;
  }
}