.form-guide {
    text-align: center;
    margin: 40px 0;
}

.form-guide a {
    color: black;
}

.submit-form {
    max-width: 700px;
    margin: 0 auto 100px;
    padding: 20px;
}

.btn-back {
    margin-right: 20px;
}
