{% extends 'base.html' %}


{% block body %}
    <h2>Question {{ question.number }} Hints</h2>
    <hr>
    <ul class='nav nav-tabs nav-justified' role='tablist'>
        {% for h in hints %}
            <li {% if forloop.first %}class='active'{% endif %}><a href='#{{forloop.counter}}' role='tab' data-toggle='tab'><strong>Hint {{ forloop.counter }}</strong></a></li>
        {% endfor %}
    </ul>
    <div class='tab-content'>
        {% for h in hints %}
            <div class='tab-pane{% if forloop.first %} active{% endif %}' id='{{ forloop.counter }}'>
                {% if h.image %}
                    <img src="{{ h.image.url }}" class='img-responsive' alt='hint image'></img>
                    <hr>
                {% endif %}
                {% if hint.text %}
                    <p class='lead'>
                    {{ h.text }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div><!--tab content close-->
{% endblock %}
