{% extends 'base.html' %}

{% block navigation %}
    <ul class='nav navbar-nav navbar-left'>
        <li><a href={%url 'orfik:home'%}>Hunt</a></li>
        <li><a href={%url 'orfik:leader'%}>Leaderboard</a></li>
        <li><a href={%url 'orfik:instructions'%}>Instructions</a></li>
        <li><a target='_blank' href="https://www.facebook.com/TheComputerScienceSocietyStStephensCollege">Forum</a></li>
    </ul>
{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
        <div class='lead text-center'>
            <h2>The hunt </h2>
            <h1>{{ starttime.time | timeuntil }}</h1>
            <a href="{% url 'register' %}" class='btn btn-primary'>Register</a>
            <a href="{% url 'login' %}?next={% url 'orfik:home' %}" class='btn btn-success'>Login</a>
        </div>
        <script>
            setTimeout('window.location.reload();', 30000);
        </script>
    {% else %}
        <div class='lead text-left'>
            {% if starttime %}
                <h2>The hunt begins in</h2>
                <h1>{{ starttime.time | timeuntil }}</h1>
                <hr>
                <a class='btn btn-info' href="{% url 'orfik:instructions' %}">Instructions</a>
            {% endif %}
            {% if winner %}
                {% load staticfiles %}
                <h1>You won!!!!!!! k bye.</h1>
                <h2>On a serious note get in touch with us on the facebook page. Send in your username and password so we can verify it's you</h2>
            {%endif%}
        </div>
    {% endif %}
{% endblock %}
