{% extends 'base.html' %}

{% block event_nav %}
  <ul class="events-nav">
    <li><a href="{% url 'events:orfik:home' %}">Play</a></li>
    {% if not starttime %}
    <li><a href="{% url 'events:orfik:leader' %}">Leaderboard</a></li>
    {% endif %}
    <li><a href="{% url 'events:orfik:instructions' %}">Instructions</a></li>
    <li><a target='_blank' href="#">Forum</a></li>
  </ul>
{% endblock %}

{% block body %}
  <section id="events-container">
    {% if not user.is_authenticated and not starttime %}
      <h2 class="light-space">The hunt has begun!</h2>
      <br />
      <a href="{% url 'login' %}" class="btn btn--m btn--full">Login</a>
      <script>
        setTimeout('window.location.reload();', 30000);
      </script>
    {% elif not user.is_authenticated and starttime %}
      <h2 class="light-space">The hunt has begun!</h2>
      <br />
      <a href="{% url 'signup' %}" class="btn btn--m btn--full">Signup</a>
    {% else %}
      {% if starttime %}
        <h2 class="light-space">The hunt begins in</h2>
        <h1 style="text-align: center;">{{ starttime.time | timeuntil }}</h1>
        <br />
        <a class='btn btn--full' href="{% url 'events:orfik:instructions' %}">Instructions</a>
      {% endif %}
      {% if winner %}
          <h1>You won!!!!! k bye.</h1>
          <h2>On a serious note get in touch with us on the facebook page. Send in your username and password so we can verify it's you!</h2>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}
