{% extends 'orfik/home.html' %}

{% block head %}
  <style>
    #orf-container {
      max-width: 768px;
    }
  </style>
{% endblock %}

{% block body %}
  <section id="events-container">
    <h1 class="light-space">Instructions</h1>
    <ol class='instructions' style="margin-bottom: 50px;">
      <li>The hunt begins <strong>sharp</strong> at 0000 Hours on March 17, 2016 and ends on March 18 at 23:59 Hours.</li>
      <li>Each participant can make a single login using a username of their choice.</li>
      <li>Once the game begins you will be faced by a series of questions.</li>
      <li>All answers are to be entered in lower case characters with no spaces and special characters.</li>
      <li>You can only see one question at a time and will only progress when you answer the question correctly.</li>
      <li>You can have infinite tries on each question until you get the right answer.</li>
      <li>All levels are of equal weightage. There is no negative marking.</li>
      <li>You can also see the leader board at any time to see your progress relative to others.</li>
      <li>Ranks are based on the time the question is answered; with the individual answering first placed higher.</li>
      <li>The CompSoc shall be the sole authority to decide on anything. Any decision made by CompSoc or its representatives is final and irrevocable.</li>
      <li>Any individual found to use any unfair means will be disqualified with immediate effect.</li>
      <li>The use of the internet, searching the source code etc. are all allowed to arrive at the answer.</li>
      <li>Any queries regarding the questions will be answered at the orfik forum by CompSoc on our facebook page. However, no foul language or other miscreant behaviour will be tolerated.</li>
    </ol>
    <a class='btn btn--full btn--black' href="{% url 'events:orfik:home' %}">Start playing!</a>
  </section>
{% endblock %}
