{% extends 'orfik/home.html' %}

{% block head %}
  <style>
    #orf-container {
      max-width: 768px;
    }
  </style>
{% endblock %}

{% block body %}
  <section id="orf-container">
    <h1 class="light-space">Instructions</h1>
    <ol class='instructions'>
      <li>The hunt begins <strong>sharp</strong> at 0000 Hours on February xx, 2016.</li>
      <li>Each participant can make a single login using a username of their choice.</li>
      <li>Once the game begins you will be faced by a series of questions.</li>
      <li>All answers are to be entered in lower case characters with no spaces and special characters.</li>
      <li>You can only see one question at a time and will only progress when you answer the question correctly.</li>
      <li>You can have infinite tries on each question until you get the right answer.</li>
      <li>All levels are of equal weightage. There is no negative marking.</li>
      <li>You can also see the leader board at any time to see your progress relative to others.</li>
      <li>Ranks are based on the time the question is answered; with the individual answering first placed higher.</li>
      <li>The CompSoc shall be the sole authority to decide on anything. Any decision made by CompSoc or its representatives is final and irrevocable.</li>
      <li>Any individual found to use any unfair means will be disqualified with immediate effect.</li>
      <li>The use of the internet, searching the source code etc. are all allowed to arrive at the answer.</li>
      <li>Any queries regarding the questions will be answered at the orfik forum by CompSoc on our facebook page. However, no foul language or other miscreant behaviour will be tolerated.</li>
    </ol>

    <h3>Good luck!</h3>
  </section>
{% endblock %}
