{% extends 'orfik/home.html' %}

{% block body %}
  <section id="orf-container">
    <h2 class="light-space">Leaderboard</h2>
    <br />
    <table class='leaderboard'>
      <thead>
          <tr>
          <th>Rank</th>
          <th>Username</th>
          <th>Current Level</th>
          </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ player.nickname }}</td>
            <td>{{ player.max_level }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
