{% extends 'orfik/home.html' %}

{% block body %}
  <!-- What do 'Scarface', 'Blow' and 'Miami Vice' have in common? -->
  <section id="events-container" style="margin: 60px auto 300px;">
    <h2 class="light-space">Question {{ question.number }}</h2>
    {% if question.text %}
      <p class="lead">{{ question.text }}</p>
    {% endif %}
    {% if question.image %}
      <img class='img-responsive img-hint' src='{{ question.image.url }}' style="margin: 0 auto;"/>
    {% endif %}
    <!-- Form for the answer -->
    <form role='form' class="answer-form" action="{% url 'events:orfik:question' question.number %}" method='POST' style="margi-bottom: 100px;">
      {% csrf_token %}
      {{ form }}
      <button type='submit' class='btn-contact'>Submit</button>
    </form>
  </section>
{% endblock %}
