// Breakpoint
$mobile: new-breakpoint(max-width 640px 4) !default;

#upcoming {
  .content {
    max-width: 1000px;
    padding: 0 20px;
  }

  #events {
    padding: 0;
    @include outer-container();

    li {
      @include span-columns(6);
      @include omega(2n);
      margin-bottom: 20px;

      > div {
        border-radius: 5px;
        padding: 0;
        @include transition(500ms ease-in);

        @media screen and (min-width: 660px) {
          &:hover {
            background-color: darken(white, 5%);
          }
        }
      }

      h3 {
        display: inline-block;
        text-transform: uppercase;
        color: black;
        margin-bottom: 10px;
      }

      .fb {
        text-transform: uppercase;
        font-weight: 500;
        color: $primary-color;
        letter-spacing: 2px;
        font-size: 0.8em;
      }

      p {
        font-size: 1em;

        &.line-reduce {
          margin: 0 0 1px;
        }
      }

      @include media($mobile) {
        @include span-columns(6 of 6);
        @include omega(n);
      }
    }
  }
}

#highlights {
  .content {
    max-width: 1000px;
    padding: 0 20px;
  }
}