main {
  #hero {
    display: none;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/static/images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    @media screen and (min-width: 818px) {
      display: block;
    }

    div {
      h1 {
        padding: 3% 15px 0 0;
        font-family: 'Roboto Mono', sans-serif;
        color: #fff;
        text-align: right;
        line-height: 0.75;
        letter-spacing: 5px;
      }
    }

    #arrow {
      display: none;
      margin-top: 230px;
      cursor: pointer;
      
      svg {
        display: table;
        margin: 0 auto;
        @include size(32px);
      }
      @media screen and (min-width: 818px) {
        display: block;
      }
    }
  }

  #write {
    form {
      max-width: 550px;
      margin: 0 auto 100px;
      padding: 0 15px;

      .inline {
        label {
          width: 50%;
          float: left;

          &:nth-child(1) {
            padding-right: 10px;
          }
        
          &:nth-child(2) {
            padding-left: 10px;
          }

          @media screen and (max-width: 541px) {
            label {
              width: 100%;

              &:nth-child(1),
              &:nth-child(2) {
                padding: 0;
              }             
            }
          }
        }
      }

      button {
        float: right;

      }
    }
  }

  #sponsors {
    $mobile: new-breakpoint(max-width 660px 4) !default;
    padding-top: 20px;
    h1 {
      text-align: center;
    }
    .content {
      max-width: 80% !important;
      ul {
        padding: 0;
        list-style: none;
        @include outer-container;
      
        li {
          margin: 0 30px 15px 0;

          @include span-columns(3);
          @include omega(4n);          
          
          @include media($mobile) {
            @include span-columns(2);
            @include omega(2n);  
          }

          img {
            opacity: 0.9;
          }
        }
      }      
    }
  }
}