$mobile: new-breakpoint(max-width 640px 4) !default;

@mixin gallery() {
  li {
    @include span-columns(3);
    @include omega(4n);

    div {
      margin: 40px 0;
      text-align: center;
      .face {
        @include size(130px);
        border-radius: 100%;
      }
      h4 { 
        margin: 10px 0 0 5px; 
        a {
          color: black;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }

      h5 { 
        color: black;
        font-weight: 300;
        text-transform: lowercase;
      }
    }

    @include media($mobile) {
      @include span-columns(3 of 6);
      @include omega(2n);
    }
  }
}

#members {
  #member-list {
    padding: 0;
    @include outer-container();
    @include gallery();
  }
}

#alumni {
  .alumni-group {
    .alumni-list {
      padding: 0;
      @include outer-container();
      @include gallery();
    }
  }
}

