*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

main {
  section {
    padding: 5px;
    
    .content {
      max-width: 700px;
      margin: 0 auto 30px;
      padding: 0 15px;

      p {
        margin-top: 2px;
      }

      @media screen and (min-width: 600px) {
        padding: 0;
      }
    }

    &.alt-section {
      background-color: #fcfcfc;
    }
  }
}

a {
  text-decoration: none;
  color: $primary-color;
}

img {
  max-width: 100%;
}

hr {
  height: 2px;
  width: 15%;
  border: 0;
  outline: 0;
  background-color: #ccc;
}
