{% extends 'base.html' %}


{% block head %}
    {% load bootstrap %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'logo/css/home.css' %}"</link>
{% endblock %}

{% block body %}
    <h1 class="logo-title">Logo Designing</h1>
    <hr>
    <h3 class="logo-subtitle">Welcome Logo Designers!</h3>
    <p class="lead">CompSoc has an opportunity for you to use your designing skills for our Annual Tech Fest - Cybercept. We are accepting logo extried for Cybercept. Cybercept is our Annually organized Tech Fest with events like Tech Hunt, Orfik - online treasure hunt, Cryptactic, Programming and X-Centricity - a tech quiz. The best logo shall be used for all the publicity posters of the fest.</p>
    <h3>Rules</h3>
    <p class="lead">The competition is open from <strong>17th to 25th February 2015</strong>. To participate, kindly adhere to the following instructions: </p>
    <ol class="lead">
        <li>The theme for the design is obviously Cybercept - our annual tech festival.</li>
        <li>The logo should be 500x500px.</li>
        <li>Please submit a JPG or PNG file.</li>
        <li>Have fun and learn something along the way!</li>
    </ol>
    <div class="sec-submit">
        <a href='{% url "logo:submission" %}'><button class="btn btn-primary btn-lg">Head to the submission form</button></a>
    </div>
{% endblock %}
