*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  position: relative;
}

// Site-wide messages
#messages-container {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 99999;
  background-color: #323232;
  color: #fff;
  padding: 15px;
  font-size: 0.9em;
  font-weight: light;
  cursor: pointer;

  display: none;

   .message {
    overflow: hidden;
    clear: both;
    min-width: 288px;
    max-width: 568px;
  }

  &.is-open {
    display: block;
  }

  @media (max-width: 767px) {
    left: 0px !important;
    right: 0px;
    bottom: 0px;
    width: 100%;

    .message {
      min-width: 100%;
    }
  }
}

main {
  section {
    padding: 5px;
    .content {
      max-width: 700px;
      margin: 0 auto 30px;
      padding: 0 15px;

      p {
        margin-top: 2px;
      }

      @media screen and (min-width: 600px) {
        padding: 0;
      }
    }

    &.alt-section {
      background-color: #fcfcfc;
    }
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  @include transition(1s);

  &:hover {
    color: lighten($primary-color, 5%);
  }
}

img {
  max-width: 100%;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 auto 1.5em;
  width: 12em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(even) {
  background: #eee;
}

th {
  background: $secondary-color;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}