// Include sass modules/partials here.

@import "styles";

// Can always be included as it only renders css if the
// variable $layout-debug is set to "true"
@import "debug";


// Custom
button.btn-contact {
  border: 0;
  outline: 0;
  padding: 12px 20px;
  background-color: $primary-color;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: darken($primary-color, 10%);
  }
}

