form {
  .inline {
    label {
      width: 50%;
      float: left;

      &:nth-child(1) {
        padding-right: 10px;
      }

      &:nth-child(2) {
        padding-left: 10px;
      }

      @media (max-width: 541px) {
        width: 100%;
        clear: both;
        display: block;
        margin: 0 auto 10px;

        &:nth-child(1),
        &:nth-child(2) {
          padding: 0;
        }
      }
    }
  }

  button {
    float: right;
  }

  fieldset {
    border: none;

    @media (max-width: 541px) {
      padding: 0;
      margin: 0;
    }
  }

  label {
    color: rgba(153, 153, 153, 1);
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: 3px solid $primary-color;
    padding: 3px 8px;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    margin-top: 5px;
    color: black;
    font-weight: normal;

    &:focus {
      outline: 0;
      border-color: lighten($primary-color, 10%);
    }
  }

  textarea {
    height: 10em;
    resize: none;
  }
}