#section-join {
    max-width: 760px;
    margin: 0 auto;
    padding: 15px;
    font-size: 0.9em;

    h1 {
      font-size: 1.1em;
    }
}

.join-form {
  margin-bottom: 20px;
}

.errorlist {
  li {
    color: red;
  }
}