{% extends 'base.html' %}

{% block body %}
    <p class="lead">The Computer Science Society is one of the most active student branch of St. Stephen's College. We are a group of individuals from a variety of academic backgrounds with a love for computer science. Computers are a huge part of out lives now and using them efficiently is a skill highly in demand. Unlike most societies/student groups focussed on organizing events; our primary goal is to learn new things together as a group. We organize more workshops in college than actual events and we're proud of this very fact. The CompSoc is a place for anyone with a desire and drive to learn to seek the same.</p>
    <hr>
    <h1>Current members</h1>
    <div class='table-responsive'>
    <table class='table table-hover'>
        {% for mem in current %}
        <tr><td><a href={{mem.get_absolute_url}}>{{mem.name}}</td><td>{{mem.role}}</td><td>{{mem.batch_of}}</td></a></tr>
        {% endfor %}
    </table>
    </div>
    <hr>
    <h1>Alumni</h1>
    <div class='table-responsive'>
    <table class='table table-hover'>
        {% for mem in alumni %}
        <tr><td><a href={{mem.get_absolute_url}}>{{mem.name}}</td><td>{{mem.role}}</td><td>{{mem.batch_of}}</td></a></tr>
        {% endfor %}
    </table>
    </div>
{%endblock%}
