<!DOCTYPE html>
<html>
    <head>
        {%load staticfiles%}
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
        <title>CompSoc - SSC</title>
        <!-- favicon and foreign links-->
        <link async rel='icon' type='image/png' href={%static 'favicon.png'%}>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link async href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href='{% static "base.css" %}'></link>
        {% block head %}
        {% endblock %}
        </head>
        <body>
            <nav class="navbar navbar-inverse navbar-static-top topnav">
                <div class="container topnav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class='navbar-collapse collapse' id='navbar'>
                    {%block navigation%}
                        <ul class='nav navbar-nav navbar-left'>
                            <li><a href={%url 'home'%}>Home</a></li>
                            <li><a href={%url 'contact'%}>Contact</a></li>
                            <li><a href={%url 'about'%}>About Us</a></li>
                        </ul>
                    {%endblock%}
                        <ul class='nav navbar-nav navbar-right'>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cybercept Events<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'orfik:home' %}">Orfik 2015</a></li>
                                    <li><a href="{% url 'logo:home' %}">Logo Designing</a></li>
                                    <li><a href="#">TechHunt</a></li>
                                    <li><a href="#">X-Centricity</a></li>
                                    <li><a href="#">Programming</a></li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                {% block body %}
                    <div class="header">
                        <h1><i class="fa fa-desktop" style="margin-right: 40px;"></i>The CompSoc</h1>
                        <hr>
                    </div>
                    <p class="lead">The Computer Science Society is one of the most active student branch of St. Stephen's College. We are a group of individuals from a variety of academic backgrounds with a love for computer science. Computers are a huge part of out lives now and using them efficiently is a skill highly in demand. Unlike most societies/student groups focussed on organizing events; our primary goal is to learn new things together as a group. We organize more workshops in college than actual events and we're proud of this very fact. The CompSoc is a place for anyone with a desire and drive to learn to seek the same.</p>
                    <p class="lead">2014 has been an amazing year for us. With our goal to develop interest and increase college participation in technology trends, we conducted workshops on Photoshop, Web Development and organized events like TechHunt 1.0, GameFace and a Programming event.</p>
                    <p class="lead">GameFace is a gaming extravaganza which gained phenomenal response and feedback from participants from different educational institutions, owing to the team-effort of all the members.  This year the games were played on PlayStation 3, which not only was a great success in terms of its level of participation, but also at the level where it enlightened the organizers.</p>
                    <p class="lead">Following the three events in 2014, our annual tech fest - <strong>'Cybercept'</strong> is around the corner.  </p>
                    <p class="lead" style="margin-bottom: 80px;">Cybercept 2015 will include one of our best online events Orfik - An Online Treasure Hunt, a logo making competiton, X-Centricity (a quiz revolving around technology) a programming event allowing a variety of programming languages and also an unusual decyphering event called Cryptactic.</p>
                {% endblock %}
            </div>

            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class='love-text text-muted'>Made with <i class='fa fa-heart'></i> by CompSoc, SSC</span>
                            <span class='love-text text-muted'>This website is open-sourced on <a href='http://www.github.com/theSage21/compsocssc.git' target='_blank'>GitHub.</a></span>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Javascript -->
            <script async defered src='//code.jquery.com/jquery-1.11.0.min.js'></script>
            <script async defered src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
        </body>
    </html>
