<!DOCTYPE html>
<html>
    <head>
        {%load staticfiles%}
        <meta charset="UTF-8">
        <title>CompSoc - SSC</title>
        <!-- favicon and foreign links-->
        <link async rel='icon' type='image/png' href={%static 'favicon.png'%}>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link async rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link async href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href='{% static "base.css" %}'></link>
        {% block head %}
        {% endblock %}
        </head>
        <body>
            <nav class="navbar navbar-inverse navbar-static-top topnav">
                <div class="container topnav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class='navbar-collapse collapse' id='navbar'>
                    {%block navigation%}
                        <ul class='nav navbar-nav navbar-left'>
                            <li><a href={%url 'home'%}>Home</a></li>
                            <li><a href={%url 'contact'%}>Contact</a></li>
                            <li><a href={%url 'about'%}>About Us</a></li>
                        </ul>
                    {%endblock%}
                        <ul class='nav navbar-nav navbar-right'>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cybercept Events<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'orfik:home' %}">Orfik 2015</a></li>
                                    <li><a href="{% url 'logo:home' %}">Logo Designing</a></li>
                                    {% load flatpages %}
                                    {% get_flatpages as flatpages %}
                                    {% for page in flatpages %}
                                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                {% block body %}
                    <div class="header">
                        <h1><i class="fa fa-desktop" style="margin-right: 40px;"></i>The CompSoc</h1>
                        <hr>
                    </div>

                {% endblock %}
            </div>

            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class='love-text text-muted'>Made with <i class='fa fa-heart'></i> by CompSoc, SSC</span>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Javascript -->
            <script async defered src='//code.jquery.com/jquery-1.11.0.min.js'></script>
            <script async defered src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
        </body>
    </html>
