{% extends "base.html" %}

{% block body %}
  <div id="hero">
    <div>
      <h1 class="gigantic">Hi.</h1>
      <h1 class="gigantic">Welcome!</h1>
      <h1 class="gigantic">We are CompSoc.</h1>
    </div>
    <div id="arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8"><path stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M48.8 1.7l-23.6 23.5-23.5-23.5" fill="none"/></svg>
    </div>
  </div>

  <section id="upcoming-event">
    <h1 class="section-heading">Upcoming Event</h1>
    <div class="content">
      <h1>{{ event.name }}</h1>
      <h2>STARTS IN {{ event.start_time|timeuntil }}</h2>
      <a target="_blank" href="{{ event.fb_event_page }}" class="btn btn--m">Find out more &raquo;</a>
    </div>
  </section>

  <section id="about" class="alt-section">
    <h1 class="section-heading">About</h1>
    <div class="content">
      <section id="who">
        <h1 class="light-space">Who are we?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
      </section>
      <section id="goals">
        <h1 class="light-space">Our Goals</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        quis nostrud exercitation ullamco laboris consequat. Duis aute irure dolor in: 
        <strong>learning</strong>, <strong>teaching</strong>, 
        <strong>exploring</strong>, <strong>collaborating</strong> and just <strong>having fun
        </strong>while we're at it.</p>
      </section>
    </div>
  </section>

  <section id="write">
    <h1 class="section-heading">Contact Us</h1>
    <div class="content">
      <form action="" method="POST">
        <fieldset class="inline">
          <label>
            <span>Name</span>
            <input type="text" name="name" id="name" placeholer="Name">
          </label>
        
          <label>
            <span>Email</span>
            <input type="email" name="email" id="email" placeholer="Email">
          </label>
        </fieldset>
        
        <fieldset>
          <label>
            <span>Message</span>
            <textarea name="email" id="message" placeholer="Message"></textarea>
          </label>
        </fieldset>

        <fieldset>
          <button type="submit" class="btn-contact">Send</button>
        </fieldset>
      </form>
    </div>
  </section>

  <section id="sponsors" class="alt-section">
    <h1 class="light-space">Our Sponsors</h1> 
    <div class="content">  
      <ul>
        {% load static %}
        <!-- TESLA -->
        <li>
          <a href="http://www.teslamotors.com" target="_blank">
            <img src="{% static 'images/tesla.png' %}">
          </a>
        </li>
        <!-- .. -->
      </ul>
    </div>
  </section>

{% endblock body %}