{% extends "base.html" %}

{% block body %}
  <div id="hero">
    <div>
      <h1 class="gigantic">Hi.</h1>
      <h1 class="gigantic">Welcome!</h1>
      <h1 class="gigantic">We are CompSoc.</h1>
    </div>
    <div id="arrow" class="animated bounce">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8"><path stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M48.8 1.7l-23.6 23.5-23.5-23.5" fill="none"/></svg>
    </div>
  </div>

  {% if event %}
    <section id="upcoming-event">
      <h1 class="section-heading">Upcoming Event</h1>
      <div class="content">
          <h1>{{ event.name }}</h1>
          <h2>STARTS IN {{ event.start_time|timeuntil }}</h2>
          <a target="_blank" href="{{ event.fb_event_page }}" class="btn btn--m">Find out more &raquo;</a>
      </div>
    </section>
  {% endif %}

  <section id="about" class="alt-section">
    <h1 class="section-heading">About</h1>
    <div class="content">
      <section id="who">
        <h1 class="light-space">Who are we?</h1>
        <p>The Computer Science Society (CompSoc), St. Stephen’s College is a group of individuals who believe in the idea of 'education as an enabler'. We strongly feel that keeping in mind the 21st century and how big a role technology plays in our lives, everyone should be able to program a computer. By that, we don't mean writing complex applications, no; we just want people to use their computers to their advantage! </p>
      </section>
      <section id="goals">
        <h1 class="light-space">Our Goals</h1>
        <p>CompSoc's primary goal is without a doubt education. Although, no long term goal can be acheived without a comprehensive list of intermediate short term goals. In our quest for absoulte digital litracy, we stress on <strong>enjoying onself</strong>, <strong>collaboration</strong> and <strong>exploration</strong> as well. At the end of the day, what's the fun in having no fun? ¯\_(ツ)_/¯</p>
      </section>
    </div>
  </section>

  <section id="write">
    <h1 class="section-heading">Contact Us</h1>
    <div class="content">
      <form action="http://formspree.io/computer.society.ssc@gmail.com" method="POST" onsubmit="return validateContactForm();">
        <fieldset class="inline">
          <label>
            <span>Name</span>
            <input type="text" name="name" id="name" placeholer="Name">
          </label>

          <label>
            <span>Email</span>
            <input type="email" name="_replyto" id="email" placeholer="Email">
          </label>
        </fieldset>

        <fieldset>
          <label>
            <span>Subject</span>
            <input type="text" name="_subject" id="subject" placeholer="Subject">
          </label>
        </fieldset>

        <fieldset>
          <label>
            <span>Message</span>
            <textarea name="message" id="message" placeholer="Message"></textarea>
          </label>
        </fieldset>

        <fieldset>
          <button type="submit" class="btn-contact" id="email-send">Send</button>
        </fieldset>

        <input type="hidden" name="_next" value="/">

      </form>
    </div>
  </section>

  <!-- <section id="sponsors" class="alt-section">
    <h1 class="light-space">Our Sponsors</h1>
    <div class="content">
      <ul>
        {% load static %}
        <li>
          <a href="http://www.teslamotors.com" target="_blank">
            <img src="{% static 'images/tesla.png' %}">
          </a>
        </li>
      </ul>
    </div>
  </section> -->

{% endblock body %}

{% block scripts %}
  <script>
    {% if event %}
      // Arrow click listener
      $('#arrow').on('click', function() {
          $('html, body').animate({
              scrollTop: $("#upcoming-event").offset().top
          }, 900);
          $(this).fadeOut("slow");
      });
    {% else %}
      // Arrow click listener
      $('#arrow').on('click', function() {
          $('html, body').animate({
              scrollTop: $("#about").offset().top
          }, 900);
          $(this).fadeOut("slow");
      });
    {% endif %}
  </script>
{% endblock scripts %}
