{% extends "base.html" %}

{% block body %}
    {% if current %}
      <section id="members">
        <h1 class="section-heading">Current members</h1>

        <ul id="member-list">
          {% for member in current %}
            <li>
              <div class="member">
                <img class="face" src="{{ member.fb_image_url }}">
                <h4><a href="{{ member.get_absolute_url }}">{{ member.name }}</a></h4>
                <h5>({{ member.role }})</h5>
              </div>
            </li>
          {% endfor %}        
        </ul>
      </section>
    {% endif %}

    {% if alumni %}
      <section id="alumni">
        <h1 class="section-heading">Alumni</h1>
        {% regroup alumni by batch_of as alumni_list %}
        {% for members in alumni_list %}
          <section class="alumni-group{% if not forloop.counter0|divisibleby:2 %} alt-section{% endif %}">
            <h1 class="light-space" style="text-align: center;">Class of {{ members.grouper }}</h1>
            <ul class="alumni-list">
              {% for member in members.list %}
                <li class="alumni">
                  <div>
                    <img class="face" src="{{ member.fb_image_url }}">
                    <h3><a href="{{ member.get_absolute_url }}">{{ member.name }}</a></h3>
                    <h5>({{ member.role }})</h5>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </section>
          {% with alumni_list|length as len %}
            {% if forloop.counter1 == len %}
              <hr>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </section>
    {% endif %}
{% endblock body %}