{% extends "base.html" %}

{% block head %}
  {% if not current and not alumni %}
    <style type="text/css">
      .footer {
        display: none;
      }
    </style>
  {% endif %}
{% endblock %}

{% load thumbnail %}

{% block body %}
    {% if current %}
      <section id="members">
        <h1 class="section-heading">Current members</h1>

        <ul id="member-list">
          {% for member in current %}
            <li>
              <a href="{{ member.get_social_link }}" target="_blank">
                <div class="member">
                  <img class="face" src="{% thumbnail member.image 500x500 box=member.cropping crop detail %}">
                  <h4>{{ member.name }}</h4>
                  <h5>({{ member.role }})</h5>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if alumni %}
      <section id="alumni">
        <h1 class="section-heading">Alumni</h1>
        {% regroup alumni by batch_of as alumni_list %}
        {% for members in alumni_list %}
          <section class="alumni-group{% if forloop.counter0|divisibleby:2 %} alt-section{% endif %}">
            <h1 class="light-space" style="text-align: center;">Class of {{ members.grouper }}</h1>
            <ul class="alumni-list">
              {% for member in members.list %}
                <li class="alumni">
                  <a href="{{ member.get_social_link }}" target="_blank">
                    <div>
                      <img class="face" src="{% thumbnail member.image 500x500 box=member.cropping crop detail %}">
                      <h3>{{ member.name }}</h3>
                      <h5>({{ member.role }})</h5>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
          {% with alumni_list|length as len %}
            {% if forloop.counter1 == len %}
              <hr>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </section>
    {% endif %}
{% endblock body %}
