{% extends "base.html" %}

{% block body %}
    <h1>{{ key }}</h1>
    <section class="section-auth">
      <form method="GET" action="" class="auth-form">
        <h1 class="auth-heading light-space">Login</h1>
        <input class="auth-field" type="email" name="email" placeholder="Enter Email">
        <input class="auth-field" type="password" name="password" placeholder="Enter Password">
        <button class="btn-form-action / btn btn--m">Login</a>
      </form>
    </section>
{% endblock body %}
