{% extends "base.html" %}

{% block body %}
  <section class="section-auth">
    <form method="GET" action="" class="auth-form">
      <h1 class="auth-heading light-space">Password Reset</h1>
      <label>
        <span>Current Password</span>
        <input type="text" name="old_password" placeholder="Enter current password">
      </label>

      <label>
        <span>New Password</span>
        <input type="text" name="new_password" placeholder="Enter new Password">
      </label>

      <label>
        <span>Confirm Password</span>
        <input type="text" name="new_password2" placeholder="Confirm password">
      </label>
      <button class="btn-form-action / btn btn-m">Reset Password</a>
    </form>
  </section>
{% endblock body %}
