{% extends 'base.html' %}

{% block event_nav %}
  <ul class='events-nav'>
    <li><a href="{% url 'events:logo:home' %}">Home</a></li>
    <li><a href="{% url 'events:logo:submission' %}">Submit a logo</a></li>
    <li><a href="{% url 'events:logo:gallery' %}">Gallery of submissions</a></li>
  </ul>
{% endblock %}

{% block body %}
  <section id="events-container" style="margin-top: 40px;">
    <center><h1 class="light-space">Welcome Logo Designers!</h1></center>
    <p>CompSoc has an opportunity for you to use your designing skills for our Annual Tech Fest - Cybercept. Cybercept is our Annually organized Tech Fest with events like Tech Hunt, Orfik - online treasure hunt, Cryptactic, Programming and X-Centricity - a tech quiz.</p>
    <p>We are looking for a logo for our society's upcoming project 'e-gyaan', an initiative to familiarize junior school kids residing in economically disadvantaged localities around our college, to the basics of computers.</p>
    <h3>Rules</h3>
    <p>The competition is open from 11th to 18th March 2016. To participate, kindly adhere to the following instructions:</p>
    <ol>
      <li>Design a logo for society's upcoming project 'e-gyaan'.</li>
      <li>Only one entry is allowed per person. So, take your time and perfect your submission. Multiple entries could lead to disqualification.</li>
      <li>The logo should be 500x500px.</li>
      <li>Please submit a JPG or PNG file.</li>
      <li>Have fun and learn something along the way!</li>
    </ol>
    <p>For more information regarding prizes or just general FAQ, head over to the <a href="#" target="_blank">facebook</a> page.</p>
    <div class="sec-submit">
      <a class="btn btn--full" href='{% url "events:logo:submission" %}'>Head to the submission form</a>
    </div>
  </section>
{% endblock %}
