{% extends 'base.html' %}

{% block event_nav %}
  <ul class='events-nav'>
    <li><a href="{% url 'events:logo:home' %}">Home</a></li>
    <li><a href="{% url 'events:logo:submission' %}">Submit a logo</a></li>
    <li><a href="{% url 'events:logo:gallery' %}">Gallery of submissions</a></li>
  </ul>
{% endblock %}

{% block body %}
  <section id="events-container" style="margin-top: 40px;">
    <center><h1 class="light-space">Logo Designing</h1></center>
    <br />
    <h3>Welcome Logo Designers!</h3>
    <p>CompSoc has an opportunity for you to use your designing skills for our Annual Tech Fest - Cybercept. We are accepting logo extried for Cybercept. Cybercept is our Annually organized Tech Fest with events like Tech Hunt, Orfik - online treasure hunt, Cryptactic, Programming and X-Centricity - a tech quiz. The best logo shall be used for all the publicity posters of the fest.</p>
    <h3>Rules</h3>
    <p>The competition is open from <strong>17th to 26th February 2015</strong>. To participate, kindly adhere to the following instructions: </p>
    <ol>
      <li>The theme for the design is obviously Cybercept - our annual tech festival.</li>
      <li>The logo should be 500x500px.</li>
      <li>Please submit a JPG or PNG file.</li>
      <li>Have fun and learn something along the way!</li>
    </ol>
    <p>For more information regarding prizes or just general FAQ, head over to <a href='http://on.fb.me/1DlVDVw'>http://on.fb.me/1DlVDVw</a></p>
    <div class="sec-submit">
      <a class="btn btn--full" href='{% url "events:logo:submission" %}'>Head to the submission form</a>
    </div>
  </section>
{% endblock %}
